<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programs</title>
</head>
<body>
    <h1>Programs</h1>
    <div><a href="{{ url_for('add_program_form') }}">Add New</a></div>
    {% for program in programs %}
        <h2>{{ program[1] }}</h2>
        <p>{{ program[2] }}</p>
        <p><a href="">EDIT</a></p>
    {% endfor %}
    
</body>
</html>